{% extends "learning_logs/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Журнал обліку транспортних засобів</h1>
<!--        <p class="lead">Зробіть свій власний журнал спостережень, та зберігайте список тем які ви вивчаєте.-->
<!--            Щоразу, коли ви дізнаєтеся щось нове про тему, робіть запис, у якому підсумовуєте те, що ви дізналися.</p>-->
            <p class="lead">Вам необхідно ввести транспортний засіб (далі - ТЗ), наприклад МАН АА1122АВ і потім робити дописи до кожного
            ТЗ зазначаючи зміни, що з ним відбулился. Згодом Ви зможете переглянути свої записи і побачити коли було зроблено
            запис.</p>
        {% if not user.is_authenticated %}
             <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Реєстрація &raquo;</a>
         {% endif %}
    </div>
{% endblock content %}
