{% extends "learning_logs/base.html" %}

{% block content %}
<h3>Транспортний засіб: {{ topic }}</h3>

<p>Дописи:</p>
<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Новий допис</a>
</p>

{% for entry in entries %}
    <div class="card mb-3">
        <h4 class="card-header">
<!--            {{ entry.date_added|date:"M d, Y H:i" }}-->
            {{ entry.date_added|date:"M d, Y " }}
            <small>
                  <a href="{% url 'learning_logs:edit_entry' entry.id %}">Редагування допису</a>
            </small>
        </h4>
        <div class="card-body">
            <p>{{ entry.text|linebreaks }}</p>
        </div>
    </div>
    {% empty %}
     <li>Дописи до цього транспортного засобу відсутні</li>
{% endfor %}

{% endblock content %}
